<div class="mealDetailsSide">
	<div class="mealDetailsBox">
		<form name="mealDetailsForm" novalidate>
			<h2>Enter the meal details</h2>
			<hr />
			<p class="bmp">Base Meal Price: $<input type="number" name="basePrice" ng-model="data.basePrice" required></p>
			<p class="tr">Tax Rate: %<input type="number" ng-model="data.taxRate" required></p>
			<p>Tip Percentage: %<input type="number" ng-model="data.tipPercentage" required></p>
			<div class="buttons">
				<button ng-click="submit()">Submit</button>
				<button ng-click="cancel()">Cancel</button>
			</div>
			<p ng-if="submitted && mealDetailsForm.$error.required">Make sure all fields are filled out!</p>
		</form>
	</div>
</div>
<div class="customerAndEarningsSide">
	<div class="customerChargesBox">
		<h2>Customer Charges</h2>
		<hr />
		<div class="ccInfo">
			<span class="subTotal">Subtotal: </span><span ng-show="showCustomerChargesBox">{{computeSubtotal(data.basePrice, data.taxRate) | currency}}</span><br />
			<span class="tip">Tip: </span><span ng-show="showCustomerChargesBox">{{computeTip(data.tipPercentage) | currency}}</span>
			<hr />
			<span class="total">Total: </span><span ng-show="showCustomerChargesBox">{{computeTotal() | currency}}</span>
		</div>
	</div>
</div>
<p>{{nmCtrl.message}}</p>